<!DOCTYPE html>
<html lang=en>
<head>
	<meta charset="UTF-8">
	<title>Univerity Catalog</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netden.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body   {padding-top80px;}
	</style>
</title="University>
</head>
<body>
	<h1>Add A Course</h1> 
	<a href="/logout" class="btn btn-default btn sm">Logout</a>
	<% if (errors) {%>
		<% for(i =0; i < errors.length ; i++) { %>
			<li><%= errors[i].msg %></li>		
		<% }%>	
	<% }%>
	<form action="/courses" method="POST">
		<input type="text" placeholder="Course Name" name="courseName">
		<input type="text" placeholder="Course Number" name="courseNumber">
		<input type="text" placeholder="Course Professor" name="courseProfessor">
		<input type="text" placeholder="Course Description" name="courseDescription">
		<input type="text" placeholder="Course Date" name="courseDate">
		<input type="text" placeholder="Course Time" name="courseTime">
		<button type="submit">Add Course</button>
	</form>
	<a href="/courses">View Courses</a>
</body>
</html>
